<div style="max-width: 1200px" ng-controller="DownloadForm.DownloadFormDashboardController" class="download-form">
    <div class="download-form-config">
        <h2>Download Form</h2>
        <a style="display:none;" id="callApi"></a>

        Period :
        <div class='wrapper'>
            <label for="fromDate">from:</label>
            <input type="text" id="fromDate" name="fromc">
            <label for="toDate">to:</label>
            <input type="text" id="toDate" name="toDate">
        </div>
        <div ng-repeat="form in FormsData">
            <div class="form-table">
                <div class="form-heading">
                    <h4>{{form.formName}}</h4>
                    <a class="ui right floated btn btn-warning" ng-click="DownloadFormCSV(form.formId)"> Download CSV</a>
                </div>
                <div class="tablescroll">
                    <table class="formDataTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="{{form.formId}}" ng-click="SelectAll(form.formId)" /></th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Submit Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in form.data">
                                <td><input type="checkbox" id="{{data.NodeId}}" value="{{data.NodeId}}" ng-click="SelectSingle(data.NodeId)" /></td>
                                <td>{{data.Name}}</td>
                                <td>{{data.Surname}}</td>
                                <td>{{data.CreateDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>